<div class="row">
    {% if pokemon is defined and pokemon is not empty %}
        <div class="col-md-6">
            <h2>Data</h2>
            <table class="table table-striped">
                <tr>
                    <td>Pokedex #</td>
                    <td>{{ pokemon.ID }}</td>
                </tr>
                <tr>
                    <td>Weight</td>
                    <td>{{ pokemon.weight }} kg</td>
                </tr>
                <tr>
                    <td>Height</td>
                    <td>{{ pokemon.height }} m</td>
                </tr>
                <tr>
                    <td>Base XP</td>
                    <td>{{ pokemon.baseExperience }}</td>
                </tr>
            </table>
        </div>
    {% endif %}

    {% if stats is defined and stats is not empty %}
        <div class="col-md-6">
            <h2>Stats</h2>
            <table class="table table-striped">
                {% for statName, statVal in stats %}
                    <tr>
                        <td>{{ statName|humanize }}</td>
                        <td>{{ statVal }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}
</div>